:root {
  --rowNum: 10;
  --colNum: 10;
  --boxWidth: 14px;
  --boxHeight: 14px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #ccc;
  font-size: 1.5em;
}

.snake {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(
    circle,
    #3c9d9b,
    #268998,
    #25748f,
    #305f81,
    #394a6d
  );
  &__playground {
    height: 100%;
    margin: 0 auto;
    display: inline-grid;
    border: 2px dotted rgba(240, 240, 240, 0.2);
    grid-template-columns: repeat(var(--colNum), var(--boxWidth));
    grid-template-rows: repeat(var(--rowNum), var(--boxHeight));
    overflow: hidden;
    &--medium {
      border-top: solid;
      border-bottom: solid;
    }
    &--hard {
      border-style: solid;
    }
    &--hidden {
      display: none;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
  }

  &__figure {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #c0ffb3;
      opacity: 0.4;
      background-image: radial-gradient(
        circle,
        #52de97,
        #6ce49b,
        #83eb9f,
        #97f1a4,
        #a9f7aa,
        #a9f7aa,
        #a9f7aa,
        #a9f7aa,
        #97f1a4,
        #83eb9f,
        #6ce49b,
        #52de97
      );
    }
    &--head {
      &:after {
        width: 100%;
        height: 100%;
        background: #52de97;
        opacity: 1;
      }
    }
  }
  &__food {
    background: #f1c40f;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    box-shadow: 0px 0px 15px 1px rgba(255, 213, 0, 1);
    animation: food 1.5s ease-in-out infinite;
  }
}

.settings {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
  &--hidden {
    display: none;
  }
  &__game-difficulty {
    min-width: 200px;
  }
  &__playground-size {
    height: 100%;
  }
  &__playground-size-select {
    background: transparent;
    color: #ccc;
    width: 100%;
    padding: 10px;
  }
  &__btn {
    background: transparent;
    min-height: 30px;
    min-width: 100px;
    color: #ccc;
    border-color: #ccc;
    font-size: 1.5rem;
  }
  &__input {
    text-align: right;
    position: relative;
    line-height: 40px;
    margin-bottom: 20px;
    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      border: 2px dotted #ccc;
    }
    &--medium {
      &:before {
        border-top: solid;
        border-bottom: solid;
      }
    }
    &--hard {
      &:before {
        border-style: solid;
      }
    }
  }
}

.points-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &--hidden {
    display: none;
  }
  p {
    margin: 0 10px;
  }
}

@keyframes food {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
