:root {
  --rowNum: 10;
  --colNum: 10;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.snake {
  min-height: 100vh;
  background: #f0f0f0;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__playground {
    height: 100%;
    margin: 0 auto;
    display: inline-grid;
    border: 2px dotted #f0f0f0;
    grid-template-columns: repeat(var(--colNum), 14px);
    grid-template-rows: repeat(var(--rowNum), 14px);
    background-image: radial-gradient(
      circle,
      #01a438,
      #049b32,
      #06932b,
      #078a25,
      #07821f,
      #047d21,
      #017723,
      #007224,
      #006e2b,
      #006931,
      #006535,
      #036039
    );
    &--medium {
      border-top: solid;
      border-bottom: solid;
    }
    &--hard {
      border-style: solid;
      border-color: #000;
    }
    &--hidden {
      display: none;
    }
  }
  &__box {
  }
  &__figure {
    background-image: radial-gradient(
      circle,
      #413b01,
      #444201,
      #474901,
      #495001,
      #4a5702,
      #4a5902,
      #4b5c03,
      #4b5e03,
      #4b5b03,
      #4b5903,
      #4a5603,
      #4a5403
    );
  }
  &__food {
    background: #ffea00;
    border-radius: 50%;
    height: 100%;
  }
}

.settings {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  &--hidden {
    display: none;
  }
  &__game-difficulty {
    min-width: 200px;
  }
  &__playground-size {
    height: 100%;
  }
  &__btn {
    background: #07821f;
    min-height: 30px;
    min-width: 100px;
    color: #fff;
    font-size: 2rem;
  }
  &__input {
    text-align: right;
    position: relative;
    line-height: 40px;
    margin-bottom: 20px;
    &:before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      border: 2px dotted #000;
    }
    &--medium {
      &:before {
        border-top: solid;
        border-bottom: solid;
      }
    }
    &--hard {
      &:before {
        border-style: solid;
      }
    }
  }
}
