:root {
  --rowNum: 10;
  --colNum: 10;
  --boxWidth: 14px;
  --boxHeight: 14px;
  --headBorderRadius: 50% 0 0 50%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: #ccc;
  font-size: 1.5em;
}

.snake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(circle, #3c9d9b, #268998, #25748f, #305f81, #394a6d);
}

@media screen and (max-height: 500px) {
  .snake {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 10px;
  }
}

.snake__playground {
  height: 100%;
  margin: 0 auto;
  display: -ms-inline-grid;
  display: inline-grid;
  border: 2px dotted rgba(240, 240, 240, 0.2);
  -ms-grid-columns: (var(--boxWidth))[var];
      grid-template-columns: repeat(var(--colNum), var(--boxWidth));
  -ms-grid-rows: (var(--boxHeight))[var];
      grid-template-rows: repeat(var(--rowNum), var(--boxHeight));
  overflow: hidden;
}

.snake__playground--medium {
  border-top: solid;
  border-bottom: solid;
}

.snake__playground--hard {
  border-style: solid;
}

.snake__playground--hidden {
  display: none;
}

.snake__box {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.snake__figure {
  width: 100%;
  height: 100%;
  background-color: #c0ffb3;
  opacity: 0.4;
  background-image: radial-gradient(circle, #52de97, #6ce49b, #83eb9f, #97f1a4, #a9f7aa, #a9f7aa, #a9f7aa, #a9f7aa, #97f1a4, #83eb9f, #6ce49b, #52de97);
}

.snake__figure--head {
  background-image: radial-gradient(circle, #6ce49b, #83eb9f, #97f1a4, #a9f7aa, #a9f7aa, #a9f7aa, #a9f7aa, #97f1a4, #83eb9f, #6ce49b, #52de97);
  opacity: 1;
  border-radius: var(--headBorderRadius);
}

.snake__food {
  background: #f1c40f;
  border-radius: 50%;
  height: 60%;
  width: 60%;
  -webkit-box-shadow: 0px 0px 15px 1px #ffd500;
          box-shadow: 0px 0px 15px 1px #ffd500;
  -webkit-animation: food 1.5s ease-in-out infinite;
          animation: food 1.5s ease-in-out infinite;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .settings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.settings--hidden {
  display: none;
}

.settings__game-difficulty {
  min-width: 200px;
}

.settings__playground-size {
  height: 100%;
}

.settings__playground-size-select {
  background: transparent;
  color: #ccc;
  width: 100%;
  padding: 10px;
}

.settings__btn {
  background: transparent;
  min-height: 30px;
  min-width: 100px;
  color: #ccc;
  border-color: #ccc;
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.settings__input {
  text-align: right;
  position: relative;
  line-height: 40px;
  margin-bottom: 20px;
}

.settings__input:before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  border: 2px dotted #ccc;
}

.settings__input--medium:before {
  border-top: solid;
  border-bottom: solid;
}

.settings__input--hard:before {
  border-style: solid;
}

.points-view {
  position: absolute;
  right: 0;
  top: 0.5rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.points-view--hidden {
  display: none;
}

.points-view p {
  margin: 0 10px;
}

@-webkit-keyframes food {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes food {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */